extends layout

block content
    h1= title
    form(action='/api/tuelogin' method='post')
        input#username(type='text' placeholder='Username' name='username' required)
        input#password(type='password' placeholder='Enter password' name='password' required)
        button(type='submit') Login

    script.
        var login = function() {
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;

            $.ajax({
                type: 'POST',
                url: '/api/login',
                data: {
                    username: username,
                    password: password
                },
                success: function (data) {
                    alert('succes!!!');
                }
            })
            .fail(function(xhr, status, err) {
                console.log(xhr.statusText);
                console.log(status);
                console.log(err);
            });
        }